{% extends "masterALTE3.jinja2" %}
{% load static %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">horizon</span> <span class="smaller">Starter project</span></h1>
  <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
</div>
{% endblock content %}
