<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="pyramid web application">
  <meta name="author" content="Pylons Project">
  {% block inject_css %}
  {% endblock inject_css %}

  {% load static %}

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'fa5/fontawesome.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'css/skin-blue.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="/" class="logo">
      <span class="logo-mini"><b>Pf</b>A</span>
      <span class="logo-lg"><b>Pf</b>Analytix</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Supprimez cet élément de la barre de navigation -->
          <!-- <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="active treeview menu-open">
          
          <ul class="treeview-menu">
            <li><a href="{% url 'view_home' %}"><i class="fa fa-circle-o"></i>Home</a></li>
            <li><a href="{% url 'view_Mcl' %}"><i class="fa fa-circle-o"></i>Mcl Data</a></li>
            <li class="treeview" id="courbe-menu">
              <a href="#"><i class="fa fa-circle-o"></i>Courbe<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="{% url 'view_tenors' %}"><i class="fa fa-circle-o"></i>Tenors</a></li>
                <li><a href="{% url 'view_tenors_range' %}"><i class="fa fa-circle-o"></i>Tenors Range</a></li>
              </ul>
            </li>
            <li><a href="{% url 'view_pricer' %}"><i class="fa fa-circle-o"></i>Pricer</a></li>

            <li><a href="{% url 'view_operation' %}"><i class="fa fa-circle-o"></i>Operation</a></li>
            <li><a href="{% url 'view_login' %}"><i class="fa fa-circle-o text-yellow"></i><span>Log-Out</span></a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">here</li>
      </ol>
    </section>
    <section class="content">
      {% block content%}
        <p> Something goes Here </p>
      {% endblock content %}
    </section>
  </div>

  

  <aside class="control-sidebar control-sidebar-dark"></aside>

</div>

<script>
  const sidebarToggle = document.querySelector('.sidebar-toggle');
  const sidebar = document.querySelector('.main-sidebar');

  sidebarToggle.addEventListener('click', function() {
    sidebar.classList.toggle('sidebar-hidden');
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/adminlte.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% block inject_js %}
{% endblock inject_js %}
</body>
</html>