{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> <!-- Ajoutez votre propre fichier CSS pour le style -->
</head>
<body>

<section class="scripts">
  {% block scripts %}
    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
  {% endblock scripts %}
</section>

{% block content %}

<div class="container">
    <div class="register-container">
        <div class="register-content">
            <div class="register-card">
                <div class="card-body">
                    <div class="register-icon">
                        <i class="feather icon-user-plus"></i>
                    </div>
                    <h2 class="register-title">Register</h2>
                    <p class="register-subtitle">Add your credentials</p>

                    <!-- Hide the form on success -->
                    <form role="form" action="/">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                        <div class="form-group text-left">
                            <div class="checkbox">
                                <input type="checkbox" id="agree-terms">
                                <label for="agree-terms">Agree with <a href="#">terms</a></label>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Register</button>
                    </form>

                    <p class="register-login-link">Already have an account? <a href= "{% url 'view_login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>
